.pagina-principal{
    background-color: mediumturquoise;
}

.mision-cuerpo{
    background-color: mediumturquoise;
}

.vision-cuerpo{
    background-color: mediumturquoise;
}

.catalogo-cuerpo {
    background-color: mediumturquoise;
    text-align: center;
}

.contacto-cuerpo{
    background-color: mediumturquoise;
}

#container{
    margin:0px auto; 
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

#container1{
    margin:0px auto; 
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

#container2{
    margin:0px auto;
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

#container3{
    margin:0px auto;
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}


.catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 60%;
    margin: auto;
}

.imagen {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: auto;
    background-image: url("ImgWeb/PingNada.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.precio {
    margin-top: 15px;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

li{
    text-align: center;
}

