.pagina-principal{
    background-color: mediumturquoise;
}

.mision-cuerpo{
    background-color: mediumturquoise;
}

.vision-cuerpo{
    background-color: mediumturquoise;
}

#container{
    margin:0px auto; 
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

#container1{
    margin:0px auto; 
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

#container2{
    margin:0px auto;
    width: 70%;
    border: 1px solid black;
    background-color: lightgray;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

li{
    text-align: center;
}